<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csqotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSQOtes">
        <activity
            android:name=".SWATActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="SWAT"/>
        <activity
            android:name=".SeparatistActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Separatist"/>
        <activity
            android:name=".SealActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="SEAL"/>
        <activity
            android:name=".SASActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="SAS"/>
        <activity
            android:name=".PirateActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Pirate"/>
        <activity
            android:name=".PhoenixActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Phoenix"/>
        <activity
            android:name=".EliteActivity"
            android:parentActivityName=".MainActivity"
            android:label="Elite"
            android:exported="true" />
        <activity
            android:name=".IDFActivity"
            android:parentActivityName=".MainActivity"
            android:label="IDF"
            android:exported="true" />
        <activity
            android:name=".GIGNActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="GIGN"/>
        <activity
            android:name=".FBIActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="FBI"/>
        <activity
            android:name=".BalkanActivity"
            android:parentActivityName=".MainActivity"
            android:label="Balkan"
            android:exported="true" />
        <activity
            android:name=".AnarchistActivity"
            android:parentActivityName=".MainActivity"
            android:label="Anarchist"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Dark.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>